/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;300;500;700&display=swap'); */

*{
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.container{
    display: flex;
    width: 90vw;
}

.panel{
    background-size: auto 100%;
    background-position: center;
    background-repeat: no-repeat;
    height: 80vh;
    border-radius: 50px;
    color: #fff;
    cursor: pointer;
    flex: .5;
    position: relative;
    margin: 10px;
    transition: flex .7s ease-in;
}

.panel:hover {
    transform: translateY(10px);
}

.panel.active:hover {
    transform: none;
}

.panel h3 {
    font-size: 24px;
    font-weight: 300;
    position: absolute;
    bottom: 20px;
    left: 20px;
    margin: 0;
    opacity: 0;
}

.panel.active{
    flex: 5;
}

.panel.active h3{
    opacity: 1;
    transition: opacity .3s ease-in .4s;
}

@media(max-width: 580px) {
    .container{
        width: 100vw;
    }

    .panel:nth-of-type(4),
    .panel:nth-of-type(5){
        display: none;
    }

}